* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  color: #333
}

.popular {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}

.black-background {
  background-color: #111;
  width: 160px;
  height: 245px;
  color: #FFF;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.black-background img {

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22rem;
  overflow: hidden;
  object-fit: contain;
  display: inline-block;
}

.black-background h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}


.series {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.1rem;
  text-align: center;

}

.series figure img {
  width: 160px;
  height: 260px;
}